@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input {
        accent-color: rgb(96 165 250 / var(--tw-bg-opacity));
    }

    ::-moz-selection {
        /* Code for Firefox */
        @apply bg-primary-500 text-white;
    }

    ::selection {
        @apply bg-primary-500 text-white;
    }

    @media screen and (min-width: 1000px) {
        .container {
            width: 75%;
        }
    }

    .upload-btn{
        @apply flex items-center
        gap-2 px-4 py-2
        text-base font-bold text-center text-white
        transition-all
        rounded-lg cursor-pointer
        bg-primary-500 hover:bg-primary-600
    }
    select.filter-dropdown {
        @apply w-32 h-full
        block appearance-none
        pl-2 pr-8
        px-3 py-2
        text-sm leading-tight
        text-black bg-white
        border border-gray-400
        focus:outline-none
        hover:shadow-sm focus:ring-2
        focus:ring-primary-500
        focus:border-none
        font-medium
        cursor-pointer
        rounded-lg
    }

    input.search {
        @apply w-32
        block bg-white
        p-2 pl-10 text-sm text-gray-900
        focus-visible:outline
        focus-visible:outline-1
        focus-visible:outline-primary-500
        focus-visible:border-primary-500
        border border-gray-400
        rounded-lg

    }

    .form-input {
        @apply block w-full
        text-gray-900 text-sm
        rounded-lg p-2.5
        border border-gray-300
        shadow-sm bg-gray-50
        focus-visible:outline
        focus-visible:outline-1
        focus-visible:outline-primary-500
        focus-visible:border-primary-500;
    }

    form .submit-btn {
        @apply text-white bg-primary-500 hover:bg-primary-600
        focus:ring-4 focus:outline-none focus:ring-primary-300
        font-bold rounded-lg
        text-base mx-1 px-5 py-2.5
    }

    form .clear-btn {
        @apply text-white bg-gray-600 hover:bg-gray-700
        focus:ring-4 focus:outline-none focus:ring-gray-300
        font-bold  rounded-lg
        text-base
        mx-1 px-5 py-2.5
    }

    /* Table */
    .table-body .table-cell {
        @apply align-top;
    }

    .table-head .table-cell {
        @apply text-primary-600 align-middle;
    }
}